* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php linguist-language=PHP
*.blade.php diff=html linguist-language=Blade linguist-detectable=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

